<% @users.each  do |u| %>
  <p><%= u.icon %></p>
  <p><%= u.name %></p>
  <p><%= link_to 'show',user_path(u) %></p>
  <p><%= link_to 'edit',edit_user_path(u) %></p>
  <p><%= link_to 'destroy',user_path(u), method: :delete %></p>
<% end %>