<p><%= @user.icon %></p>
<p><%= @user.name %></p>
<p><%= link_to 'follower' %></p>

<% @wishinglists.each do |w| %>
  <p><%= image_tag w.image.url %></p>
  <p><%= w.name %></p>
  <p><%= link_to 'show', beer_path(w) %></p>
<% end %>

<% @completelist.each do |w| %>
  <p><%= w.image %></p>
  <p><%= w.name %></p>
  <p><%= link_to 'show', beer_path(w) %></p>
<% end %>

