<%= form_with(model: @beer, local: true) do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :image %></p>
  <p><%= f.file_field :image %></p>
  <p><%= f.hidden_field :image_cache %></p>
  <p><%= f.select(:volume, @volume_value) %>%</p>

      <p><%= f.collection_select(:brewery_id, @brewery_list, :id, :name, {prompt: '醸造所を選択'})%></p>
      <p><%= f.collection_select(:category_id, @category_list, :id, :name, {prompt: 'カテゴリーを選択'})%></p>

  <p><%= f.text_area :detail %></p>

  <%= f.submit %>
<% end %>