<%= form_with(model: @post, local: true) do |f| %>
  <p><%= f.file_field :photo %></p>
  <p><%= f.text_area :content %></p>
  <p><%= f.label :name %></p>
  <p><%= f.collection_select(:beer_id, Beer.select(:id, :name).order(id: :desc), :id, :name, {prompt: '銘柄を選択'}) %></p>
    <%= f.fields_for :record do |r| %><
      <p><%= r.radio_button :feeling, :good %></p>
      <p><%= r.label :good %></p>
      <p><%= r.radio_button :feeling, :ok %></p>
      <p><%= r.label :ok %></p>
      <p><%= r.radio_button :feeling, :bad %></p>
      <p><%= r.label :bad %></p>
      <p><%= r.label :serving_style %></p>
      <p><%= r.select(:serving_style, Record.serving_styles.keys.to_a, {prompt: '提供スタイルを選択'}) %></p>
      <p><%= r.label :location %></p>
      <p><%= r.text_field :location %></p>

      <%= r.fields_for :tast do |t| %>
        <p><%= t.label :bitterness %></p>
        <p><%= t.select(:bitterness, @rates) %></p>
        <p><%= t.label :sweetness %></p>
        <p><%= t.select(:sweetness, @rates) %></p>
        <p><%= t.label :sourness %></p>
        <p><%= t.select(:sourness, @rates) %></p>
        <p><%= t.label :flavor %></p>
        <p><%= t.select(:flavor, @rates) %></p>
      <% end %>
    <% end %>
  <%= f.submit %>
<% end %>
<%= link_to 'back', :back%>



