<!DOCTYPE html>
<html>
  <head>
    <title>Beershelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav nav-barexpand-sm" >
      <h1><%= link_to "BeerShelf", root_path %></h1>
        <% if user_signed_in? %>
          <%= render 'layouts/login' %>
        <% else %>
          <%= render 'layouts/logout' %>
        <% end %>
      </nav>
      <%= render 'layouts/flash' %>
    </header>
    <%= yield %>
    <footer class="container-fluid footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
