<!DOCTYPE html>
<html>
  <head>
    <title>Beershelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container-fluid">
      <%# <div class="row header__wrap"> %>
        <nav class="navbar navbar-expand-md navbar-light stick-top">
        <span class="navbar-brand"><%= link_to "BeerShelf", root_path %></span>
          <% if user_signed_in? %>
            <%= render 'layouts/login' %>
          <% else %>
            <%= render 'layouts/logout' %>
          <% end %>
        </nav>
        <%= render 'layouts/flash' %>
      <%# </div> %>
    </header>
    <%= yield %>
    <footer class="container-fluid footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
